<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Home</title>
	</head>

	<body style="background-image: url('https://st.depositphotos.com/3532197/4923/v/950/depositphotos_49232947-stock-illustration-soccer-ball-vector-seamless-pattern.jpg');">

			<div style="position: fixed; z-index:1; width: 100%;">
				<h1 style="background-color: #737B85; padding: 70px 50px; margin: 0 auto; color: #FFF; text-align: center; position: fixed; z-index:1; width: 100%;">Bolão</h1>
				<a href="./login.html"><input style="float: right; clear: right;"type="submit" name="entrar" value="Entrar"></a>
				<a href="./cadastro.html"><input style="float: right;"type="submit" name="cadastrar" value="Cadastrar" ></a>
			</div>
		</div>
		<br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br />
	</body>
<html>
