<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href='/static/css/bootstrap.css'>
		<title>Home</title>
	</head>
  <body style="background-image: url('https://t4.ftcdn.net/jpg/02/07/42/75/240_F_207427574_wevx9gVTMeWOGjpA9Qt1FC0EXFeRnqPa.jpg');">

    <!--padrão para seguir. vomo não posso testar o flesk então não temo herdar por isso eu coloquei manualmente-->
			<div style="background-color: #27ae60; padding: 20px 50px; margin-bottom: 10px; color: #FFF; text-align: center; height: 100%; border-radius: 70px;">
				<div style="text-align: center; margin-top: 0px;">
					<img src="/static/imagens/bola.png" height="200">
					<h1>Bolão</h1>
				</div>
				<div style="text-align: right;">
					{% if usuario %}
						<h4>Bem vindo(a), {{usuario[0][0]}}</h4>
						<a href="/perfil"><button type="button" class="btn btn-success btn-lg">Perfil</button></a>
						<a href="/sair"><button type="button" class="btn btn-success btn-lg">Sair</button></a>
					{% else %}
						<a href="/login"><button type="button" class="btn btn-success btn-lg">Login</button></a>
						<a href="/cadastro"><button type="button" class="btn btn-success btn-lg">Cadastro</button></a>
					{% endif %}
				</div>
      </div>

      <!--codigo dessa página-->
      <div style="display: inline-block;">
        {% for x in boloes %}
        <div style="border: 5px solid #27ae60; float: left; margin: 20px 70px; width: 700px; height: 1000px; background-color: #FFF; border-radius: 70px;  text-align: center;">
        	<h2>Bolões em Andamento</h2>
        	<div style="display: inline;">
        	<a href="/participar/{{x[2]}}/1">{{x[6]}}</a>
        	<a href="/participar/{{x[2]}}/2">Aposta anonima</a>
        </div>
        </div>
        {% endfor %}
        <h2 style="border: 5px solid #27ae60; float: left; margin: 20px 70px; width: 300px; height: 1000px; background-color: #FFF; border-radius: 70px; text-align: center;">Descrição</h2>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
