<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<title>Perfil</title>
	</head>
  <body style="background-image: url('https://t4.ftcdn.net/jpg/02/07/42/75/240_F_207427574_wevx9gVTMeWOGjpA9Qt1FC0EXFeRnqPa.jpg');">

    <!--padrão para seguir. vomo não posso testar o flesk então não temo herdar por isso eu coloquei manualmente-->
			<div style="background-color: #27ae60; padding: 20px 50px; margin-bottom: 10px; color: #FFF; text-align: center; height: 100%; border-radius: 70px;">
				<div style="text-align: center; margin-top: 0px;">
					<a href="/"><img src="/static/imagens/bola.png" height="200"></a>
					<h1>Bolão</h1>
				</div>
		    </div>

			<div style="text-align: center;">
				<div>
					<img src="/static/imagens/coach.png" class="rounded-circle" style="background-color: #27ae60;" />
				</div>
				<h3 style="border: 2px solid #27ae60; background-color: #FFF; color: grey; width: 400px; margin: 20px auto; height: 40px;"><em>{{usuario[0][0]}}</em></h3>
				<h3 style="border: 2px solid #27ae60; background-color: #FFF; color: grey; width: 400px; margin: 20px auto; height: 40px;"><em>{{usuario[0][1]}}</em></h3>
				<a href="/criar-bolao"><button type="submit" value="criar-bolao" class="btn btn-success btn-lg">Criar Bolão</button></a>
				<a href="/sair"><button type="submit" value="sair" class="btn btn-success btn-lg">Sair</button></a>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table" style="background: #fff; margin-top: 20px;">
						  <thead>
						  	<tr>
						  		<th scope="col" colspan="5" style="text-align: center; background: #27ae60; color: #fff;">Meus Bolões</th>
						  	</tr>
						    <tr>
						      <th scope="col">Nome do Bolão</th>
						      <!--<th scope="col">Situação</th>-->
						      <th scope="col">Data de termino</th>
						      <th scope="col">Participantes</th>
						    </tr>
						  </thead>

						  
						  <tbody>
						  	{% for x in boloes %}
						    <tr>
						      <th scope="row">{{x[6]}}</th>
							    <td>{{x[5]}}</td>
							    <td><a href="/lista-participantes/{{x[2]}}">Listar Participantes</a></td>
						    </tr>
						    {% endfor %}
						    </tbody>
						</table>
				</div>
			</div>
		</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table" style="background: #fff; margin-top: 20px;">
						  <thead>
						  	<tr>
						  		<th scope="col" colspan="5" style="text-align: center; background: #27ae60; color: #fff;">Bolões Participados</th>
						  	</tr>
						    <tr>
						      <th scope="col">Nome do Bolão</th>
						      <!--<th scope="col">Situação</th>-->
						      <th scope="col">Data de Término</th>
						      <!--<th scope="col">Participantes</th>-->
						    </tr>
						  </thead>
						  <tbody>
						  	{% for x in meus_boloes %}
						    <tr>
						      <th scope="row">{{ x[6] }}</th>
						      <!--<td>Mark</td>-->
						      <td>{{ x[5] }}</td>
						      <!--<td>@mdo</td>-->
						    </tr>
						    {% endfor %}
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</body>
</html>
